@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



body {
  background: radial-gradient(circle at top, #0b1020, #000000);
  overflow-x: hidden;
}


@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 300% 300%;
  animation: gradientMove 8s ease infinite;
}
@keyframes floatSoft {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: floatSoft 6s ease-in-out infinite;
}

@keyframes floatSlow {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-16px); }
  100% { transform: translateY(0px); }
}

.animate-floatSlow {
  animation: floatSlow 7s ease-in-out infinite;
}

@keyframes floatParticle {
  0% { transform: translateY(0); opacity: 0.4; }
  50% { transform: translateY(-20px); opacity: 1; }
  100% { transform: translateY(0); opacity: 0.4; }
}

.animate-floatParticle {
  animation: floatParticle 6s ease-in-out infinite;
}
@keyframes floatSlow {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
}

.animate-floatSlow {
  animation: floatSlow 6s ease-in-out infinite;
}
